@{
    ViewBag.Title = "关于我们";
}


<body>
    <style>
        .card {
            border: 1px solid #ddd;
            padding: 3%;
            background-color: #f9f9f9;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            height: 790px;
            margin-left: 6.92%;
            margin-top: -1.38%;
            margin-right: -1.38%;
        }
    </style>
    <div class="card">
        <div>
            &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;安徽医科大学第一附属医院重症医学科创建于 1992 年，经过多年的共同努力，重症医学科实现了全面的发展，逐渐发展为设施一流、抢救成功率高的重要科室，目前临床技术处于全省领先行列，已成为中国医师协会内外科危重症专培基地和国家住院医师规范化培训重症医学科专业基地，是重症医学硕博士研究生培养单位。
        </div>
        <div>&nbsp;</div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科室现有医护人员共 147 人，医师 28 人，其中高级职称人员 9 人，含主任医师 2 人，副主任医师 7 人，博士研究生导师 1 人，硕士研究生导师 2 人，具有博士学位 6 人，在读博士 1 人，组成一支经验丰富、梯次配备合理的队伍，工作人员均经受严格的危重症监护医学培训。科室承担物理诊断学、急诊医学、外科总论、危重病医学四门学科的留学生及本科生的教学工作，目前在研安徽省自然基金面上项目 2 项，安徽省转化医学研究院科研基金项目 1 项，安徽省教育厅高等学校省级质量工程项目 1 项。科室人员学术任职：中国病理生理学会危重病学分会全国委员 1 人，中国医师协会重症医师分会全国委员 1 人，中国卫生健康与信息大数据协会重症医师分会常委 1 人，中国医师协会器官移植围手术期管理专业委员会委员 1 人，中国研究型医学学会糖尿病学专业委员会委员 1 人，安徽省医师学会多器官功能支持专业委员会主任委员，安徽省医学会重症医师分会副主任委员 1 人，安徽省医师分会重症医师分会副主任委员 1 人，安徽省循证医学学会重症与大数据分会副主任委员 1 人，安徽省医师协会体外生命支持专业委员会副主任委员 1 人，安徽省肿瘤协会重症医学分会副主任委员 1 人，安徽省睡眠研究会基层睡眠指导委员会副主任委员 1 人，安徽省职业安全健康协会中毒处置与医学救援分会副主任委员 1 人，另有多人当选省级学术协会常委、委员。
        </div>
        <div>&nbsp;</div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;科室由 2 个病区组成，开设床位 50 张，年出院病人 2000 余人次。科室配备最现代化的医疗、抢救和监测诊断设备，包括 ECMO 机器、床旁超声机、血滤机、纤维支气管镜、胃镜、床旁重症病人监测系统等。科室主要的收治对象是所有严重脑、心、肺、肝、肾功能衰竭、严重创伤和感染、各类休克、中毒、多脏器功能障碍、大手术后患者。收治范围涵盖全院各个临床专科。为危重患者提供完善的监护系统、有力的循环支持、科学的营养支持、严格的感染控制、高效的心肺复苏等全面的医疗护理服务。常规开展的项目有：ECMO、主动脉球囊反搏、血液透析滤过、血浆置换、胆红素吸附、纤维支气管镜及肺泡灌洗、床旁胃镜检查及治疗、PICCO 等。经过近 3 年的努力，ECMO 已成为我科具有一定影响力的特色医疗技术。
        </div>
    </div>
</body>